---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bgDark2">
  <head>
    <!-- in <head> before GTM code -->
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
    </script>

    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PZSXN54C");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Wanderfiles AI: PDF to JSON. Image to JSON. Extract your file data. Flights, hotels, rentals, purchases, invoices, any custom file to JSON"
    />
    <meta
      property="og:title"
      content="Wanderfiles AI - Use AI to read any type of file and get it as JSON"
    />
    <meta
      property="og:description"
      content="Wanderfiles AI: PDF to JSON. Image to JSON. Extract your file data. Flights, hotels, rentals, purchases, invoices, any custom file to JSON"
    />
    <meta property="og:url" content="https://wanderfiles-ai.com" />

    <title>{title}</title>
  </head>
  <body class="bg-bgDark2">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PZSXN54C"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <main aria-label="Main content">
      <slot />
    </main>
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth !important;
      }
    </style>
  </body>
</html>
